.btn-group {
  margin: 1em;
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3em;
}

a {
  text-decoration: none;
  color: white;
  padding: 0em 3em;
}

p {
  padding: 1em;
}

.fa-search {
  height: 70px;
  padding: 1em;
}

.fa-barcode {
  height: 80px;
  padding: 0.8em;
}
